<h1>Olá! Por favor confirme seu email!</h1>

<p>
    Confirme seu endereço de e-mail clicando no link a seguir: <br><br>
    <a href="{{ signedUrl }}">Confirmar meu e-mail</a>.
    Este link irá expirar em {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
